.nav {
  max-width: 1200px;
  margin: auto;
  padding: 40px;

  @media (max-width: 1199px) {
    padding: 20px 30px;
  }

  @media (max-width: 767px) {
    padding: 20px 15px;
  }
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  @media (max-width: 1199px) {
    justify-content: space-between;
  }

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.nav__item {
  margin: 0;
  padding: 0;
  margin-right: 120px;
  list-style-type: none;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: 1199px) {
    margin-right: 35px;
  }
}

.nav__item--current {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -4px;
    left: 0;
    height: 2px;
    background-color: $color-tangaroa;
  }

  @media (max-width: 767px) {
    &::after {
      display: none;
    }
  }
}

.nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: $color-tangaroa;
  display: inline-block;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: 1199px) {
    font-size: 16px;
    line-height: 18px;
  }

  @media (max-width: 850px) {
    font-size: 15px;
    line-height: 16px;
  }
}
